@page "/BookingInfo"
@page "/BookingInfo/{Id:int}"
@using PacificTours.Shared.Entities
@using PacificTours.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Booking Info</h3>

@if (_hotelInfo is null && _tourInfo is null)
{
    <br/>
    <span>Loading Booking Info...</span>
    <br/>
}
else
{
    @if (_hotelInfo is not null && _tourInfo is not null)
    {
        <br/>
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Hotel Booking</h5>
                <div>Name: @_hotelInfo.Name</div>
                <div>Room Type: @_hotelInfo.RoomType</div>
                <div>Start Date: @_startDate</div>
                <div>End Date: @_endDate</div>
                <div>Cost per night: £@_hotelInfo.RoomCost</div>
                <button class="btn btn-danger" @onclick="() => RemoveBooking(_hotel, _hotelInfo.Id)">Cancel</button>
            </div>
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Tour Booking</h5>
                <div>Name: @_tourInfo.Name</div>
                <div>Duration: @_tourInfo.Duration days</div>
                <div>Cost: £@_tourInfo.Cost</div>
                <button class="btn btn-danger" @onclick="() => RemoveBooking(_tour, _tourInfo.Id)">Cancel</button>
            </div>
        </div>
    }
    else if (_hotelInfo is not null)
    {
        <br/>
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Hotel Booking</h5>
                <div>Name: @_hotelInfo.Name</div>
                <div>Room Type: @_hotelInfo.RoomType</div>
                <div>Start Date: @_startDate</div>
                <div>End Date: @_endDate</div>
                <div>Cost per night: £@_hotelInfo.RoomCost</div>
                <button class="btn btn-danger" @onclick="() => RemoveBooking(_hotel, _hotelInfo.Id)">Cancel</button>
            </div>
            <div style="width:50%; float: left; display: inline-block;">
                <div>No Tour booking. If you add a Tour and create a package, you'll receive a discount.</div>
            </div>
        </div>
    }
    else if (_tourInfo is not null)
    {
        <br/>
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Tour Booking</h5>
                <div>Name: @_tourInfo.Name</div>
                <div>Duration: @_tourInfo.Duration days</div>
                <div>Cost: £@_tourInfo.Cost</div>
                <button class="btn btn-danger" @onclick="() => RemoveBooking(_tour, _tourInfo.Id)">Cancel</button>
            </div>
            <div style="width:50%; float: left; display: inline-block;">
                <div>No Hotel booking. If you add a Hotel and create a package, you'll receive a discount.</div>
            </div>
        </div>
    } 
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div>Total Cost: £@_totalCost</div>
    <br/>
    <button class="btn btn-primary" @onclick="ReserveBooking">Reserve Booking</button>
}


@code {
    [Parameter]
    public int? Id { get; set; }

    TourBookingInfoDto? _tourInfo;
    HotelBookingInfoDto? _hotelInfo;
    private int _totalCost = 0;
    private string _bookingStatus = "";
    private string _hotel = "hotel";
    private string _tour = "tour";
    private DateOnly _startDate;
    private DateOnly _endDate;

    protected override async Task OnInitializedAsync()
    {
        var authorized = await Http.GetFromJsonAsync<bool>($"api/Auth/IsAuthorized?id={Id}");
        if (!authorized)
        {
            Console.WriteLine(authorized);
            NavigationManager.NavigateTo("/");
        }
        var tourResult = await Http.GetFromJsonAsync<TourBookingInfoDto>($"api/Booking/TourBookingInfo?id={Id}");
        var hotelResult = await Http.GetFromJsonAsync<HotelBookingInfoDto>($"api/Booking/HotelBookingInfo?id={Id}");
        var bookingResult = await Http.GetFromJsonAsync<Booking>($"api/Booking/GetBookingInfo?id={Id}");
        _totalCost = bookingResult.TotalCost;
        _bookingStatus = bookingResult.Status;

        if (tourResult is null && hotelResult is null)
        {
            NavigationManager.NavigateTo("/");
        }
        if (tourResult != null)
        {
            _tourInfo = tourResult;
        }
        if (hotelResult != null)
        {
            _hotelInfo = hotelResult;
            _startDate = DateOnly.FromDateTime(_hotelInfo.StartDate);
            _endDate = DateOnly.FromDateTime(_hotelInfo.EndDate);
        }
    }
    
    
    private async Task ReserveBooking()
    {
        NavigationManager.NavigateTo("/Payment");

    }
    
    private async Task RemoveBooking(string type, int id)
    {
        if (type == _hotel)
        {
            await Http.DeleteAsync($"api/Booking/DeleteHotel?id={id}");
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
        else
        {
            await Http.DeleteAsync($"api/Booking/DeleteTour?id={id}" );
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }

    }
}
    